<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Nos centramos en Binding y Servicios</h1>
      <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" 
                  placeholder="Introduce el nombre del contacto" 
                  [(ngModel)]="nombre" name="nombre">
          </div>
          <div class="form-group">
            <label for="telefono">Telefono</label>
            <input type="number" class="form-control" id="telefono" 
                  placeholder="El número de teléfono no tendrá caracteres" 
                  [(ngModel)]="telefono" name="telefono">
          </div>
          <button type="submit" class="btn btn-primary">Añadir</button>
      </form>
      <div *ngIf="enviado" [class]="clase" role="alert">
          {{mensaje}}
      </div>

    </div>
</div>
